@font-face {
    font-family: Averta;
    src: url(https://res.cloudinary.com/johnsonfrancis/raw/upload/v1659974274/custom%20fonts/AvertaDemoPECuttedDemo-Regular_dghpn7_ajzfrx.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Averta, sans-serif;
}

/* Header
----------- */

nav {
    display: flex;
    justify-content: center;
}

.pages-link a:hover{
    background-color: rgba(25, 118, 210, 0.04)!important;
    padding: 4px;
}

.btn-danger {
    background-color: #e7332b!important;
}

.btn-1 {
background-color: #e7332b !important;
border-radius: 0 0 8px 0 !important;
color: #fff !important;
font-size: 16px !important;
font-style: normal !important;
font-weight: 400 !important;
line-height: 19px !important;
margin-right: 15px !important;
padding: 11px 50px !important;
text-transform: none !important;
}; 

.nav-link {
cursor: pointer;
font-weight: 600;
line-height: 1.75;
letter-spacing: 0.02857em;
color: red!important;
}


header.nav-link {
    color: #fff!important;
}


/* Hero-Section 
----------------*/

#hero-section p {
    color: #787878 !important;
    font-size: 19px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 22px !important;
    width: 78% !important;
}

.hero-m {
    margin-top: 100px;
}

#hero-section h3 {
font-size: 35px !important;
font-style: normal !important;
font-weight: 700 !important;
line-height: 49px !important;
}

#hero-section p {
    margin: 30px 0;
    letter-spacing: 0.02857em;
}

span {
    color: #e7332b !important;
}

.btn-2 {
    background-color: #585858 !important;
    border-radius: 0 0 8px 0 !important;
    color: #fff !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 19px !important;
    margin-right: 15px !important;
    padding: 11px 50px !important;
    text-transform: none !important;
    border: none !important;
    }

    .btn-1 {
        background-color: #e7332b !important;
        border-radius: 0 0 8px 0 !important;
        color: #fff !important;
        font-size: 16px !important;
        font-style: normal !important;
        font-weight: 400 !important;
        line-height: 19px !important;
        margin-right: 15px !important;
        padding: 11px 50px !important;
        text-transform: none !important;
        border: none !important;
        }

.btn-1:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}

.btn-2:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}

.button-box {
    display: flex;
    flex-direction: row;
}

.righthero-side {
    display: flex;
    justify-content: end;
}

.vetted {
    display: flex;
    flex-direction: column;
}

.vetted img{
    width: 15%;
    margin-left: 350px;
    margin-top: -30px;
}

/* Section 2
----------------- */
#section-two {
    margin-top: 100px;
    background-image: url(/img/world.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.right-impact-img {
    display: flex;
    justify-content: end;
    margin: 70px 0;
}

.left-impact-side {
    margin: auto 0;
}

.left-impact-side {
    margin: 150px 0;
}

.left-impact-side h3 {
    font-size: 42px !important;
    font-style: normal !important;
    font-weight: 800 !important;
    line-height: 49px !important;
    color: black;
}

.country-flag img {
    background-color: #fff;
    padding: 10px;
    margin: 4px;
    border-radius: 8px;
}

/* Section-Three
----------------- */
#section-three .tracks {
    display: flex;
    justify-content: space-between;
    margin-right: 150px;
}

#section-three h3 {
    font-size: 44px !important;
    font-style: normal !important;
    font-weight: 800 !important;
    line-height: 49px !important;
    color: black;
    margin-top: 100px;
    margin-bottom: 50px;
}

.tracks p{
    padding: 12px 26px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    color: #585858;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 8px 20px 2px;
}

.tracks p:hover{
    transform: translateY(-15px)!important;
    transition: transform .3s ease,-webkit-transform .3s ease!important;
}

.tracks-line img {
    margin-left: 800px;
    margin-top: -100px;
}


.talent-work p{
    padding: 12px 26px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    color: #585858;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 8px 20px 2px;
}

#section-three .talent-work {
    display: flex;
    justify-content: space-between;
    margin-right: 150px;
}

.talent-work p:hover{
    transform: translateY(-15px)!important;
    transition: transform .3s ease,-webkit-transform .3s ease!important;
}

/* Section Four
---------------------- */

#section-four {
    margin-top: 100px;
    background-color: #fff8e5;
    background-size: cover;
    background-repeat: no-repeat;
}

#section-four h3{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    padding: 80px 0;
}

#section-four .sec-four-img{
    width: 20%;
    height: 48%;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

#section-four p {
    font-size: 18px;
    color: #787878;
    text-align: center;
    padding-bottom: 80px;
    font-weight: 600;
}











